/* Police d'écriture */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@0;1&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@0;1&family=Roboto:wght@300&display=swap');

/* Root */

:root {
    --title: "Montserrat", sans-serif;
    --text: "Roboto", sans-serif;
}

*,
::before,
::after {
    margin: 0;
    padding: 0;
}

/* images */

img {
    width: 25rem;
    border-radius: 30px;
}

.image {
    margin-right: 5%;
}

.register {
    background-color: #f0f0f2 !important;
}

.login {
    color: #96c67f !important;
}

/* Première div: News */

.news {
    height: 350px !important;
    margin: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F4F6F6;
    border-radius: 15px;
}

.lorem {
    width: 100% !important;
    margin: 4rem;
}

.lorem p {
    margin: 0 20rem 0 0;
    font-family: var(--text);
    font-size: 1.2rem;
}

.lorem h1 {
    font-family: var(--title);
    font-size: 4rem;
}

.lorem * {
    margin-bottom: 1rem;
}

.card-profils {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 15rem;
    text-align: center;
    padding: 1rem 1rem 5rem 1rem;
    border-radius: 20px;
    font-size: 1.2rem;
    background-color: white;
    box-shadow: -5px -5px 10px rgba(115, 134, 113, 0.5);
    margin: -15rem -10rem;
}

.card-profils p {
    font-family: var(--text);
    font-weight: bold;
}

.card-profils span {
    color: #3a8d4a;
    font-weight: 400;
}

.card-followers {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 7rem;
    padding: 0.5rem 0.2rem;
    border-radius: 20px;
    background-color: white;
    box-shadow: 5px 5px 10px rgba(115, 134, 113, 0.5);
    margin: -10.5rem 19rem;
}

.round {
    padding: 0.1rem 0.9rem;
    background-color: rgba(58, 141, 74, 0.2);
    border-radius: 50%;
}

.round svg {
    margin-top: 0.5rem;
    width: 20px;
}

.card-followers h2 {
    color: #3a8d4a;
    font-family: var(--text);
}

.card-followers p {
    font-family: var(--text);
    font-size: 0.9rem;
}

.card-followers * {
    margin-bottom: 0.5rem;
}

/* Troisième div: Conseiller */
.contact {
    margin-top: 10%;
    display: flex;
    justify-content: center;
}

.backgroundconseiller {
    width: 25%;
    height: 800px !important;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #96c67f;
    border-radius: 30px;
}

.conseiller1 {
    margin-bottom: 70%;
    margin-left: 15%;
}

.conseiller2 {
    position: absolute;
    margin-left: -20%;
}

.lorem-conseiller {
    margin-left: 10%;
    margin-right: 10%;
    ;
    margin-top: 7%;
    width: 25%;
    font-family: var(--text);
    font-weight: bold;
}

/* deuxième section: services */

.services {
    margin: 5rem 14rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.services * {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    margin: 2rem;
}

.services div * {
    margin: 0.5rem 2rem;
}

.services div h2 {
    font-family: var(--title);
}

.services div p {
    font-family: var(--text);
}

.green {
    margin-top: 10rem;
    background-color: #96c67f;
    padding: 3rem 0.5rem 0.5rem;
    border-radius: 20px;
}

.white {
    padding: 3rem 0.5rem 0.5rem;
    border-radius: 20px;
}

.container-white {
    background-color: white;
    padding: 1rem;
    border-radius: 10px;
    position: absolute;
}

.container-green {
    background-color: #96c67f;
    padding: 1rem;
    border-radius: 10px;
    position: absolute;
}

.services div svg {
    width: 80px;
    margin-bottom: 20rem;
}

/* 4ème section */

.contributors {
    margin: 5rem 14rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profil {
    display: flex;
    justify-content: center;
    align-items: start;
    margin-bottom: 1.5rem;
}

.profil img {
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    margin-right: 1rem;
}

.profil h3 {
    font-family: var(--title);
    font-size: 1.2rem;
    font-weight: bold;
}

.title {
    font-family: var(--title);
    font-size: 2rem;
    width: 110rem;
}

.carousel-directions {
    margin-top: 3rem;
}

.carousel-directions svg {
    width: 20px;
    border: solid 1px rgb(150, 198, 127);
    padding: 1rem 1.4rem;
    border-radius: 50%;
    margin: 0 1.5rem;
}

.title span {
    color: #96c67f;
    text-decoration: underline;
}

h3.title-green {
    color: #96c67f;
    font-weight: 200;
}

.equip {
    margin: 0 5rem;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
}

.equip p {
    font-family: var(--text);
}

/* Footer */
.footer {
    margin-top: 150px;
}

@media screen and (max-width: 450px) {
    .news {
        flex-direction: column;
        margin: 1rem;
    }

    .lorem {
        margin: 1rem 2rem;
    }

    .lorem p {
        margin: 0;
        font-size: 1rem;
    }

    .lorem h1 {
        font-size: 2rem;
    }

    img {
        width: 15rem;
    }

    .card-profils {
        font-size: 0.8rem;
        padding: 0.2rem 0.2rem 2rem 0.2rem;
        border-radius: 10px;
        width: 10rem;
        margin: -8rem -3.5rem;
    }

    .card-followers {
        padding: 0.2rem;
        border-radius: 10px;
        width: 5rem;
        margin: -8rem 12rem;
    }

    .card-followers h2 {
        font-size: 0.8rem;
    }

    .card-followers p {
        font-size: 0.7rem;
    }

    .round svg {
        width: 15px;
    }

    .round {
        padding: 0rem 0.7rem;
        background-color: rgba(58, 141, 74, 0.2);
        border-radius: 50%;
    }
}